@model IEnumerable<DOANLAPTRINHWEB.Models.CTHOADONBANDONGHO>
@using DOANLAPTRINHWEB.Models
@{
    ViewBag.Title = "Chi tiết đơn hàng";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
    var stt = 0;
}
@using (Html.BeginForm())
{
<div class="content-wrapper" style="width: 1000px; margin: 100px auto 0 ">
    <h1 style="text-align: center; margin-bottom: 100px">CHI TIẾT ĐƠN HÀNG</h1>
    <div style="display: flex; margin-left: 30px; font-size: 16px">
        <span style="margin-right: 30px"><strong>Mã đơn hàng:</strong> @ViewBag.MaDonHang</span>
        <span style="margin-right: 30px"><strong>Ngày đặt:</strong> @ViewBag.NgayDat</span>
        <span style="margin-right: 30px"><strong>Tình trạng:</strong> @ViewBag.TinhTrang</span>
        <span><strong>Tổng tiền:</strong> @ViewBag.TongTien</span>
    </div>
    <div class="container-xxl flex-grow-1 container-p-y" style="margin-top: 10px">
        <div class="card">
            <div class="table-responsive text-nowrap">
                <table class="table">
                    <thead>
                        <tr>
                            <th style="text-align:center"><strong>STT</strong></th>
                            <th style="text-align:center"><strong>Tên đồng hồ</strong></th>
                            <th style="text-align:center"><strong>Số lượng</strong></th>
                            <th style="text-align:center"><strong>Thành tiền</strong></th>
                        </tr>
                    </thead>
                    @foreach (var item in Model)
                    {
                        <tbody class="table-border-bottom-0">
                            <tr>
                                @{
                                    stt++;
                                }
                                <td style="text-align:center">@stt</td>
                                <td style="text-align:center">@Html.DisplayFor(model => item.DONGHO.TenDongHo)</td>
                                <td style="text-align:center">@Html.DisplayFor(model => item.SoLuong)</td>
                                <td style="text-align:center">@Html.DisplayFor(model => item.ThanhTien)</td>
                            </tr>
                        </tbody>
                    }
                </table>
            </div>
        </div>
    </div>
</div>

}
